# ------------------------------------------------
# 1. Python 기본
# ------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ------------------------------------------------
# 2. 가상환경
# ------------------------------------------------
.env
.venv
env/
venv/
venv_py310/
ENV/

# ------------------------------------------------
# 3. IDE 설정
# ------------------------------------------------
.idea/
.vscode/
.vs/
*.swp
.DS_Store

# ------------------------------------------------
# 4. 로그 및 데이터베이스
# ------------------------------------------------
*.log
*.sqlite3
db.sqlite3

# ------------------------------------------------
# 5. 보안 및 설정
# ------------------------------------------------
config.py
secrets.py

# ------------------------------------------------
# 6. 기타 임시 파일
# ------------------------------------------------
.ipynb_checkpoints
_trial_temp/
test/